In [41]:

# Importing Libraries/Dependencies
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

In [42]:
driver=webdriver.Chrome('chromedriver1.exe')

In [43]:
 driver.get("https://paytm.com/")
    #opening website from where we need to fetch data

In [44]:
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [45]:
driver.get("https://paytm.com/flights/flightSearch/DEL-Delhi/BOM-Mumbai/1/0/0/E/2022-09-29")

In [46]:
urls=[]
sou=["DEL-Delhi","BOM-Mumbai"]# passing source location
location = ["CCU-Kolkata","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2022-09-29","2022-10-07","2022-10-13","2022-15-20","2022-10-29","2022-04-06","2022-03-15","2022-03-25","2022-04-01","2022-03-07"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [47]:
len(urls)#checking len of url how many url we have fetched

80

In [53]:

# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in  driver.find_elements_by_xpath('//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in  driver.find_elements_by_xpath('//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements_by_xpath('//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements_by_xpath('//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [54]:
source=place[0::2]
destination=place[1::2]

In [55]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

3926 3926 3926 3926 3926 3926 3926 3926

In [56]:
# this is the dataframe i have fetched from the above website
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [57]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,SpiceJet,21:20,23:25,11729,Delhi,Kolkata,2h 5m,Non,2022-09-29
1,IndiGo,06:05,08:10,14459,Delhi,Kolkata,2h 5m,Non,2022-09-29
2,IndiGo,22:20,00:15,15509,Delhi,Kolkata,1h 55m,Non,2022-09-29
3,IndiGo,18:40,20:45,15509,Delhi,Kolkata,2h 5m,Non,2022-09-29
4,SpiceJet,18:50,21:00,15929,Delhi,Kolkata,2h 10m,Non,2022-09-29
...,...,...,...,...,...,...,...,...,...
3921,Vistara,12:10,19:50,27488,Mumbai,Hyderabad,7h 40m,2,2022-10-29
3922,Air India,18:35,09:25,35942,Mumbai,Hyderabad,14h 50m,2,2022-10-29
3923,Air India,18:35,11:50,39092,Mumbai,Hyderabad,17h 15m,2,2022-10-29
3924,Air India,18:35,19:05,41507,Mumbai,Hyderabad,24h 30m,2,2022-10-29
3925,Air India,18:35,19:05,43292,Mumbai,Hyderabad,24h 30m,2,2022-10-29

In [59]:
flight.to_csv("flight_fare1.csv")#saving dataframe to csv format